.cardPost {
    border: 1px solid black;
    margin: 15px;
}

.titlePostHome, .contentPostHome {
    margin: 15px;
}

img{
    width: 100%;
    max-width: 300px;
}

.divBtnUDS {
    margin: 5px auto;
    display: -webkit-box;
}

.deleteBtn, .updateBtn, .signalerBtn {
    border: none;
    background-color: white;
}

.readCommentContainer{
    margin: 15px;
}

.createCommentContainer{
    margin-left: 10px;
}


@media screen and (min-width: 600px){
    
    .cardPost {
        max-width: 50%;
        margin: 20px auto;
    }
    
    img{
        max-width: 500px;
    }
}