@media screen and (min-width: 600px){
    .modifyCardDiv{
        display: flex;
        justify-content: center;
        border: 1px solid black;
        margin: 30px auto;
        max-width: 60%;
    }
}